<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JAM routines</title>
  <link rel="stylesheet" href="/css/materialize.css">
  {{!-- <link rel="stylesheet" href="/css/materialize.min.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

      <nav>
     
        <div class="nav-left">
        <a href="/" style="display: inline-block;">
          <img src="/assets/JAM_LOGO_CLEAR.png" alt="JAM Logo" style="vertical-align: middle; width: 150px; height: auto;">
        </a>
        </div>
        <div class="nav-right">
        <a href="/create">CREATE</a>
        <a href="/explore">EXPLORE</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">PROFILE</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        </div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/test.js"></script>
</body>

</html>
