<div class="row">
  <div class="col-auto">
    <h2>Create a New Routine:</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    {{!-- <h3>Create a New Routine:</h3> --}}

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Name of Exercise</label>
        <input class="form-input" type="text" id="routine-name" name="routine-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Sets:</label>
        <input class="form-input" type="number" id="sets" name="sets" />
      </div>
       <div class="form-group">
        <label for="project-desc">Reps:</label>
        <input class="form-input" type="number" id="reps" name="reps" />
      </div>
      <p>Select Day 1, 2, or 3!</p>
       <div class="form-group">
        <label for="project-desc">Day:</label>
        <input class="form-input" type="number" id="day" name="day" />
      </div>
      <p>1 = Beginner || 2 = Intermediate || 3 = Advanced</p>
       <div class="form-group">
        <label for="project-desc">Difficulty:</label>
        <input class="form-input" type="number" id="difficulty" name="difficulty" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/create.js"></script>